{% extends "dpaste/base.html" %}

{% block title %}{Snippet #{{ snippet.pk }}{% endblock %}
{% block headline %}
<h1>Latest {{ snippets_max }} snippets</h1>
{% endblock %}

{% block content %}
    {% if snippet_list %}
    {% for snippet in snippet_list %}
    <h2>
        <a href="{{ snippet.get_absolute_url }}">Snippet #{{ snippet.pk }}</a>
        ~ {{ snippet.published|date:"Y/m/d G:i:s" }}
    </h2>
    <p style="color: #555; margin: 8px 0 20px 0;">{{ snippet.content|truncatewords:40 }}</p>
    {% endfor %}
    {% else %}
    <p>No snippets available.</p>
    {% endif %}

{% endblock %}
