{% extends "dpaste/base.html" %}

{% block headline %}
    <h1>User Settings</h1>
{% endblock %}

{% block content %}
    {% if settings_saved %}
    <div class="success">
        Your preferences were successfully saved.
    </div>
    {% endif %}

    <h2>User Settings</h2>

    <form class="snippetform" method="post" action=".">
    {% csrf_token %}
    <ol>
        {{ settings_form.as_ul }}
        <li class="submit"><input type="submit" value="Save settings"/></li>
    </ol>
    </form>

    <div class="hint">
        <p><strong>Remember:</strong> Your data is stored in a cookie.</p>
    </div>
{% endblock %}
